@page
@model LanguageLandAcademy.Web.Areas.Administration.Pages.Managment.TermClass.EditModel
@{
}


<h1> ویرایش نقش</h1>
<hr />
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                ترم / دوره
            </div>
            <div class="card-body">

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">زمان شروع کلاس:</span>
                    <span>@Model.TermClass.StartTime</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">زمان پایان کلاس:</span>
                    <span>@Model.TermClass.EndTime</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">روزهای:</span>
                    <span>@Model.TermClass.Day</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">کد اتاق:</span>
                    <span>@Model.TermClass.RoomId</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">کد سطح:</span>
                    <span>@Model.TermClass.LevelId</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">توضیحات:</span>
                    <span>@Model.TermClass.Description</span>
                </div>


                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-header">
                لیست افراد جهت ثبت در دوره جاری
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>


    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

