@page
@model LanguageLandAcademy.Web.Areas.Administration.Pages.Managment.TermClass.EditModel
@{
}


<h1> ویرایش نقش</h1>
<hr />
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header">
                ترم / دوره
            </div>
            <div class="card-body">

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">زمان شروع کلاس:</span>
                    <span>@Model.TermClass.StartTime</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">زمان پایان کلاس:</span>
                    <span>@Model.TermClass.EndTime</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">روزهای:</span>
                    <span>@Model.TermClass.Day</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">کد اتاق:</span>
                    <span>@Model.TermClass.Room</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">کد سطح:</span>
                    <span>@Model.TermClass.LevelId</span>
                </div>

                <div class="border border-1 rounded-3 d-inline bg-light m-2">
                    <span class="m-2">توضیحات:</span>
                    <span>@Model.TermClass.Description</span>
                </div>


                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


        @*------------Student's List ----------------------------------*@
        <div class="card mt-5">
            <div class="card-header">
                لیست افراد جهت ثبت در دوره جاری
            </div>
            <div class="card-body">

                <div class="row mt-4" id="ProductCategoriesDiv">
                    <div class="col-md-12">
                        <div class="panel panel-default">

                            <div class="card">
                                <div class="card-header">
                                    لیست کاربران (@Model.acc.Count)
                                </div>
                                <div class="card-body p-0">
                                    <table id="datatable" class="table table-striped table-bordered m-0">
                                        <thead>
                                            <tr>
                                                <th>عکس</th>
                                                <th>نام و نام خانوادگی</th>
                                                <th>نام پدر</th>
                                                <th>کدملی</th>
                                                <th>نقش</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.acc)
                                            {
                                                <tr>
                                                    <td>
                                                        @if (item.ProfilePhoto == null)
                                                        {
                                                            <img src="~/images/unImage.png" class="profilePhoto" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/ProfilePictures/@item.ProfilePhoto" class="profilePhoto" />
                                                        }

                                                    </td>
                                                    <td>@item.FullName</td>
                                                    <td >@item.FName</td>
                                                    <td>@item.NationalCode</td>
                                                    <td>@item.Role</td>
                                                    <td>
                                                        <a class="btn btn-success waves-effect waves-light m-b-5"
                                                           asp-page="Edit" asp-route-Id="@item.Id">
                                                            <i class="fa fa-edit"></i> اضافه کردن به ترم/دوره
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

