@page
@model LanguageLandAcademy.Web.Areas.Administration.Pages.Accounts.Role.EditModel
@{
}


<h1> ویرایش نقش</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Command.Name" class="control-label"></label>
                <input asp-for="Command.Name" class="form-control" />
                <span asp-validation-for="Command.Name" e" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label class="control-label col-md-3">انتخاب دسترسی ها</label>
                <div class="col-md-12">

                    <select multiple asp-for="Command.Permissions" asp-items="Model.Permissions"
                            style="width:350px; height:420px;">
                    </select>
@* 
                    @foreach (var chItem in Model.Permissions)
                    {
                        if (chItem.Selected == true)
                        {
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Command.Permissions" type="checkbox" value="@Model.Command.Permissions" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    @chItem.Text
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Command.Permissions" type="checkbox" value="@Model.Command.Permissions" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @chItem.Text
                                </label>
                            </div>
                        }

                    }
 *@

                    @*
                    <button onclick="var el = document.getElementsByTagName('select')[0];alert(getSelectValues(el));">
                    Show selected values
                    </button>
                    *@


                </div>
                <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id" />
            </div>

            <div class="form-group m-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

