@page
@model LanguageLandAcademy.Web.Areas.Administration.Pages.Accounts.Role.IndexModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "مدیریت نقش ها";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
        <p class="pull-left">
            <a class="btn btn-sm btn-watermelon text-light" asp-page="Create">
                <i class="icon-plus-circled"></i>
                <span>ایجاد نقش جدید</span>
            </a>
        </p>
    </div>
</div>
<hr />

<div class="row mt-4" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="card">
                <div class="card-header text-light bg-secondary">
                    لیست نقش ها (@Model.roles.Count)
                </div>
                <div class="card-body p-0">
                    <table id="datatable" class="table table-striped table-bordered m-0">
                        <thead>
                            <tr>
                                <th>کد</th>
                                <th>نقش</th>
                                <th>تاریخ ایجاد</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.roles)
                            {
                                <tr>
                                    <td>@item.Id</td>                              
                                    <td>@item.Name</td>  
                                    <td>@item.CreationDate</td>
                                    <td>
                                        <a class="btn btn-outline-warning btn-sm" asp-page="Edit" asp-route-Id="@item.Id"
                                           data-toggle="tooltip" data-placement="top" title="ویرایش">
                                            <i class="icon-edit"></i>
                                            <span>ویرایش</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}
