@page
@model LanguageLandAcademy.Web.Areas.Administration.Pages.Managment.TemporaryRegister.IndexModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "پیش ثبت نام";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
    </div>
</div>



<div class="row mt-4" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <a class="btn btn-success m-3" asp-page="Create">اضافه کردن پیش ثبت نامی جدید</a>
            <div class="card">
                <div class="card-header">لیست پیش ثبت نامی ها</div>
                <div class="card-body p-0">
                    <table id="datatable" class="table table-striped table-bordered m-0">
                        <thead>
                            <tr>
                                <th>شناسه شخص</th>
                                <th>نام و نام خانوادگی</th>
                                <th>شماره تلفن</th>
                                <th>تاریخ ایجاد</th>
                                <th>توضیحات</th>
                                <th>تاریخ ویرایش</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TeRegisterItems)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FullName</td>  
                                    <td>@item.PhoneNumbers</td>  
                                    <td>@item.CreateDate</td>
                                    <td>@item.Description</td>
                                    <td>@item.LastUpdate</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a class="btn tableBtn" asp-page="Edit" asp-route-Id="@item.Id"
                                               data-toggle="tooltip" data-placement="top" title="ویرایش">
                                                <i class="icon-edit"></i>
                                            </a>
                                            @if (!item.IsRemoved)
                                            {
                                                <form method="post">
                                                    <button type="submit" class="btn tableBtn"
                                                            asp-page-handler="Delete"
                                                            asp-route-id="@item.Id"
                                                            data-toggle="tooltip" data-placement="top" title="حذف">
                                                        <i class="icon-trash-empty"></i>
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post">
                                                    <button type="submit" class="btn tableBtn"
                                                            asp-page-handler="Restore"
                                                            asp-route-id="@item.Id"
                                                            data-toggle="tooltip" data-placement="top" title="بازیابی">
                                                        <i class="icon-arrows-cw"></i>
                                                    </button>
                                                </form>
                                            }


                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}
